* {
    box-sizing: border-box;
}

body {
    background: #111111;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'VT323', monospace;
    font-size: 24px;
}

a {
    text-decoration: none;
}

#container {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 200px;
    background-color: #ffffff;
}

#container.dark {
    background-color: #292C35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}


/* go back */

#goback {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

#goback a {
    color: #95a5a6;
}

#goback a:hover {
    color: #ecf0f1;
}
