* {
    cursor: crosshair !important;
}

@media (min-width:1024px) {
    .pointer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        box-sizing: border-box;
        transition: 0.2s;
        width: 24px;
        height: 24px;
        background: linear-gradient(to bottom, transparent 35%, #d00 35%, #d00 65%, transparent 65%), linear-gradient(to right, transparent 35%, #d00 35%, #d00 65%, transparent 65%);
    }
    .pointer1 {
        transition: 0.05s;
    }
    .pointer.pointer2 {
        transition: 0.1s;
        opacity: 70%;
        width: 20px;
        height: 20px;
    }
    .pointer.pointer3 {
        transition: 0.15s;
        opacity: 50%;
        width: 15px;
        height: 15px;
    }
    .pointer.pointer4 {
        transition: 0.2s;
        opacity: 30%;
        width: 10px;
        height: 10px;
    }
    .pointer.pointer5 {
        transition: 0.25s;
        opacity: 10%;
        width: 5px;
        height: 5px;
    }
}