* {
    box-sizing: border-box;
}

body {
    background: #111111;
    margin: -50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ecf0f1;
    font-family: 'VT323', monospace;
    font-size: 20px;
    text-align: center;
    text-transform: lowercase !important;
    overflow: hidden;
}

a {
    color: #95a5a6;
    text-decoration: none;
}

#container {
    position: absolute;
}

#headline {
    font-size: 40px;
}

#subheadline {
    color: #95a5a6;
}

#projects, #challenge {
    font-size: 30px;
    margin: 20px 0 0 0;
}

#container div a:hover {
    opacity: 50%;
}

#soon_projects, #soon_challenges {
    color: #95a5a6;
    display: inline-block;
}

#soon_projects:hover, #soon_challenges:hover {
    opacity: 50%;
    cursor: default;
}

#soon_projects:before {
    content: 'more projects';
}

#soon_projects:hover:before {
    content: 'comming soon';
}

#soon_challenges:before {
    content: 'more challenges';
}

#soon_challenges:hover:before {
    content: 'comming soon';
}