* {
    box-sizing: border-box;
}

body {
    background: #111111;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'VT323', monospace;
    font-size: 24px;
}

a {
    text-decoration: none;
}

#container {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #2c3e50;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #34495e;
}

.all-clear {
    background-color: #c0392b;
    border-color: #c0392b;
    color: #fff;
}

.all-clear:hover {
    background-color: #e74c3c;
}

.equal-sign {
    background-color: #2c3e50;
    border-color: #2c3e50;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
    background-color: #34495e;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}


/* go back */

#goback {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

#goback a {
    color: #95a5a6;
}

#goback a:hover {
    color: #ecf0f1;
}


/* footer */

#contact {
    position: absolute;
    bottom: 0;
    text-decoration: none;
    font-size: 15px;
}

#contact div {
    padding: 15px;
    float: left;
    margin: 0 2px;
    background: #222222;
    color: #95a5a6;
}

#contact div:hover {
    color: #ecf0f1;
}