* {
    box-sizing: border-box;
}

body {
    background: #111111;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'VT323', monospace;
    font-size: 24px;
}

a {
    text-decoration: none;
}

#container {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #ffffff;
}

#color {
    margin: 0 0 20px 0;
}


/* go back */

#goback {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

#goback a {
    color: #95a5a6;
}

#goback a:hover {
    color: #ecf0f1;
}

