/*
Description:
    Contains all the styles for the winning wheel page.

Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.

    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/

body
{
    font-family: arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top:20px;
}

/* Sets the background image for the wheel */
td.the_wheel
{
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: none;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}

.counter {
  position: absolute;
  top: 15px;
  right: 0;
}

.footer {
  position:fixed;
  text-align:left;
  bottom: 5px;
  left: 5px;
}
.footer a {
  text-decoration:none;
  color: #34495e;
  font-size:8px;
}
.marquee {
  height: 25px;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  bottom: 10px;
  position: fixed;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}
.marquee div:hover {
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

#loading {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
}
#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10, #box11, #box12, #box13, #box14  {
  display: none;
  width: auto;
  margin-top: 25px;
  padding:10px;
  border: 5px solid;
  color: #000000;
  font-size: 20px;
  line-height: 25px;
}
.jumping {
  font-size:20px !important;
  animation: jump 1s linear infinite !important;
}
@keyframes jump {
  0% { font-size: 20px; }
  50% { font-size: 40px; }
  100% { font-size: 20px; }
}

.patrick {
  display: none;
  position: absolute;
  top: 200px;
  right: 50px;
}
.champ {
  display: none;
  position: absolute;
  top: 200px;
  left: 50px;
}
@media only screen and (min-width: 1600px) {
.patrick, .champ {
  display: block;
}
}
a {
  text-decoration: underline;
  color: #000000
}
.wrappers {


background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 1s ease infinite;
-z-animation: rainbow 1s ease infinite;
-o-animation: rainbow 1s ease infinite;
  animation: rainbow 1s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
