* {
  box-sizing: border-box;
}

body {
  background: #111111;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'VT323', monospace;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px 0 #000000;
  margin: 2px;
  width: 16px;
  height: 16px;
  transition: 3s ease;
}

.square:hover {
  transition-duration: 0s;
}

/* go back */

#goback {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}
#goback a {
  color: #95a5a6;
}

#goback a:hover {
  color: #ecf0f1;
}
