* {
    box-sizing: border-box;
}

body {
    background: #111111;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'VT323', monospace;
    font-size: 24px;
}

a {
    text-decoration: none;
}

#container {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 25px;
    background-color: #ffffff;
}

h1 {
    font-size: 32px;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 24px;
}

.play-area {
    display: grid;
    width: 180px;
    height: 180px;
    grid-template-columns: auto auto auto;
}

.block {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
    transition: background 0.2s ease-in-out;
}

.block:hover {
    cursor: pointer;
    background: #0ff30f;
}

.occupied:hover {
    background: #ff3a3a;
}

.win {
    background: #0ff30f;
}

.win:hover {
    background: #0ff30f;
}

#block_0,
#block_1,
#block_2 {
    border-top: none;
}

#block_0,
#block_3,
#block_6 {
    border-left: none;
}

#block_6,
#block_7,
#block_8 {
    border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
    border-right: none;
}

button {
    outline: none;
    border: 4px solid green;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
    font-family: 'VT323', monospace;
}

button:hover {
    cursor: pointer;
    background: green;
    color: white;
}

.playerWin {
    color: green;
}

.computerWin {
    color: red;
}

.draw {
    color: orangered;
}

@media only screen and (max-width: 600px) {}


/* go back */

#goback {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

#goback a {
    color: #95a5a6;
}

#goback a:hover {
    color: #ecf0f1;
}

