* {
    box-sizing: border-box;
}

body {
    background: #111111;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

#container {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    max-width: 100%;
}

.header {
    text-align: center;
    background-color: #34495e;
    padding: 20px 40px;
    border-radius: 10px 10px 0 0;
    color: #ecf0f1;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
    background-color: #2c3e50;
    color: #ecf0f1;
    border-radius: 0 0 10px 10px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #c0392b;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 36px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #c0392b;
    visibility: visible;
}

.form-control small {
    color: #c0392b;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-color: #34495e;
    border: 2px solid #34495e;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.form button:focus {
    outline: 0px;
}

.form button:hover {
    cursor: pointer;
}


/* go back */

#goback {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

#goback a {
    color: #95a5a6;
}

#goback a:hover {
    color: #ecf0f1;
}


/* footer */

#contact {
    position: absolute;
    bottom: 0;
    text-decoration: none;
    font-size: 15px;
}

#contact div {
    padding: 15px;
    float: left;
    margin: 0 2px;
    background: #222222;
    color: #95a5a6;
}

#contact div:hover {
    color: #ecf0f1;
}