html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Righteous', cursive;
    background-color: #2c3e50;
}

/*#################################
Berichtsheft
#################################*/
.berichtsheft {
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    padding: 80px 0;
    color: #000000;
    text-align: center;

}

.berichtsheft h1 {
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
}

/*#################################
Basics
#################################*/
.text-center {
    text-align: center;
}

.centered {
    position: absolute;
    left: 0%;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

/* go back */

#goback {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

#goback a {
    color: #95a5a6;
}

#goback a:hover {
    color: #ecf0f1;
}

@media only screen and (min-width: 780px) {


    .centered {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    html,
    body {
        background-color: #000000;
        background: url("../img/bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}
