* {
    box-sizing: border-box;
}

body {
    background: #111111;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'VT323', monospace;
    font-size: 24px;
}

a {
    text-decoration: none;
}

#container {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 760px;
}

* {
    box-sizing: border-box;
}

img {
    object-fit: cover;
    margin: 10px;
    height: 200px;
    width: 200px;
    max-width: 100%;
    transition: 0.3s ease;
}

@media screen and (max-width: 660px) {
    img {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 510px) {
    img {
        height: 125px;
        width: 125px;
    }
}

@media screen and (max-width: 480px) {
    img {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 360px) {
    img {
        height: 75px;
        width: 75px;
    }
}


/* go back */

#goback {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

#goback a {
    color: #95a5a6;
}

#goback a:hover {
    color: #ecf0f1;
}
